@model SalesProject_CourseTask.Models.Entites.Customers

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Customers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer_name" class="control-label"></label>
                <input asp-for="Customer_name" class="form-control" />
                <span asp-validation-for="Customer_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer_number" class="control-label"></label>
                <input asp-for="Customer_number" class="form-control" />
                <span asp-validation-for="Customer_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer_address" class="control-label"></label>
                <input asp-for="Customer_address" class="form-control" />
                <span asp-validation-for="Customer_address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer_mobile" class="control-label"></label>
                <input asp-for="Customer_mobile" class="form-control" />
                <span asp-validation-for="Customer_mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
